table {
  width: 100%;
}

.table-header{
  font-size: 30px;
}

.header-colum{
  font-size: 20px;
  font-weight: bold;
  color: #ED7A3C;
}

.content-line{
  font-size: 18px;
}

.loading-spinner{
  padding: 40px;
  background: rgba(0,0,0,10);
  display: flex;
  align-items: center;
  justify-content: center;
}
